
body {
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  margin: 0 0 40px 0;
  font-size: 2em;
}

h1, h2 {
  margin: 20px auto;
  width: 70%;
  text-align: center;
}

h2 {
  color: #fff;
}

table {
  margin: 0px auto 20px auto;
  width: 70%;
  border: 1px solid #0f0;
  border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
  border: 1px solid #0f0;
  text-align: left;
  padding: 8px;
}

table thead tr th,
table td:first-child {
  color: #fff;
}

p {
  color: #fff;
  margin: 30px auto;
  text-align: center;
}

a {
  color: #0f0;
}

a:hover {
  color: #fff;
}
